<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.interfaces.mybatis.UserMapper">
    <select id="getAllUser" resultType="String">
        SELECT Name FROM user_account
    </select>
</mapper>